.container {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 24px;
}

.titleSection {
	display: flex;
	flex-direction: column;
	gap: 25px;
	max-width: 800px;
}

.title {
	font-family: var(--font-ferry);
	font-size: 40px;
	letter-spacing: 0.02em;
}

.subTitle {
	font-size: 20px;
	letter-spacing: 0.02em;
}

.form {
	width: 100%;
	max-width: 872px;
	margin-top: 47px;
}

.image {
	width: 440px;
	height: 470px;
	align-self: flex-end;
}

.docImage {
	position: absolute;
	left: 850px;
	top: 10px;
	width: 91px;
	height: 111px;
}

.foldersImage {
	position: absolute;
	left: 1130px;
	top: 90px;
	width: 140px;
	height: 69px;
}

@media screen and (min-width: 501px) and (max-width: 1439px) {
	.title {
		font-size: 35px;
	}
}

@media screen and (max-width: 1024px) {
	.container {
		justify-content: center;
	}
	.titleSection {
		width: 85%;
	}

	.image {
		position: relative;
		left: 20px;
	}

	.form {
		position: relative;
	}

	.docImage {
		right: 0;
		top: -200px;
		left: auto;
		width: 58px;
		height: 71px;
	}

	.foldersImage {
		display: none;
	}
}

@media screen and (min-width: 501px) and (max-width: 1360px) {
	.image {
		display: none;
	}

	.foldersImage {
		display: none;
	}
}

@media screen and (max-width: 500px) {
	.title {
		font-size: 28px;
	}

	.docImage {
		right: 24px;
	}

	.subTitle {
		font-size: 18px;
	}

	.form {
		margin-left: -14px;
		width: calc(100% + 38px);
	}
}
