.input {
	border: 1px solid #c7c7c7;
	border-radius: 5px;
	outline: none;
	background: #fff;
}

.input:focus,
.input:focus-visible {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}

.input:invalid:focus {
	box-shadow: 0 0 20px 0 rgba(255, 89, 89, 0.2);
}

.inputError {
	font-size: 14px;
	letter-spacing: 0.01em;
	color: #ff5959;
}
