.title {
	font-family: var(--font-ferry);
	font-size: 45px;
	margin-bottom: 70px;
}

@media screen and (min-width: 501px) {
	.title br {
		display: none;
	}
}

@media screen and (max-width: 1100px) {
	.title {
		font-size: 35px;
	}
}

@media screen and (max-width: 501px) {
	.title {
		font-size: 28px;
		margin-bottom: 32px;
	}
}
