.metrics {
	display: flex;
	flex-direction: column;
	gap: 7px;
	padding: 14px 10px 18px;
	background-color: #d9d9d930;
	border-radius: 5px;
	position: absolute;
	right: 400px;
	min-width: 164px;
	min-height: 67px;
}

@media screen and (max-width: 500px) {
	.metrics {
		right: 80px;
		max-width: 140px;
		min-width: auto;
	}
}

@media screen and (min-width: 501px) and (max-width: 1024px) {
	.metrics {
		right: 150px;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1240px) {
	.metrics {
		right: 220px;
	}
}

@media screen and (min-width: 1241px) and (max-width: 1540px) {
	.metrics {
		right: 280px;
	}
}

.metric {
	display: flex;
	gap: 4px;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
}

.metricText {
	font-size: 10px;
	opacity: 0.4;
	white-space: nowrap;
}

.metricValue {
	font-weight: 700;
	font-size: 14px;
}

.metricLimit {
	color: #8ac540;
}
