@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Ferry";
	src: url("/fonts/ferry_black.otf");
}

:root {
	--main-color: #000;
	--secondary-color: #029491;
	--gray-color: #d2d2d2;
	--white-color: #fff;

	--main-bg: #fff;
	--secondary-bg: #029491;
	--footer-bg: #029491;
	--gray-bg: #d9d9d9;

	--extra-bg-green: #7ce3e1;
	--extra-bg-yellow: #ffb64f;

	--font-inter: "Inter";
	--font-ferry: "Ferry";
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100vw;
	max-width: 100%;
}

html,
body,
.core-section {
	min-height: 100vh;
}

body {
	font-family: var(--font-inter), "Helvetica", sans-serif;
	font-weight: 400;
	color: var(--main-color);
	background-color: var(--main-bg);
	letter-spacing: 0.01em;
	width: 100%;
}

.core-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
}

.fadeIn {
	animation: fadeInAnimation ease 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
