.datepicker input {
	border: 1px solid #c7c7c7;
	border-radius: 5px;
	outline: none;
	background: #fff;
	width: 100%;
	min-height: 43px;
	padding: 10px 17px;
	font-weight: 400;
	font-size: 14px;
}

.datepicker label {
	font-size: 18px;
	margin-bottom: 20px;
	font-weight: 400;
}

.datepicker input:focus,
.datepicker input:focus-visible {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}

.datepicker input[data-error="true"] {
	box-shadow: 0 0 20px 0 rgba(255, 89, 89, 0.2);
	border: 1px solid #ff5959;
}

.datepicker label :global(.mantine-InputWrapper-required) {
	color: var(--main-color);
	top: -5px;
	position: relative;
	left: -5px;
}

.datepicker:has(input[data-error="true"])
	label
	:global(.mantine-InputWrapper-required) {
	color: #ff5959;
}

.datepicker :global(.mantine-InputWrapper-error) {
	font-size: 14px;
	color: #ff5959;
	text-align: center;
}
