.container {
	width: 100%;
	flex: 1;
	padding: 69px 60px 118px 60px;
}

.containerContent {
	max-width: 1320px;
	margin: 0 auto;
}

@media screen and (max-width: 500px) {
	.container {
		padding: 20px 24px 43px 14px;
	}
}
