.container {
	display: flex;
	flex-direction: column;
}

.mainSection {
	justify-content: space-between;
	display: flex;
	gap: 24px;
}

.mainSectionTitle {
	display: flex;
	flex-direction: column;
	gap: 36px;
}

.title {
	font-family: var(--font-ferry);
	font-size: 40px;
	max-width: 500px;
}

.smallTitle {
	font-size: 20px;
	letter-spacing: 0.02em;
}

.image {
	width: 552px;
	height: 369px;
	position: relative;
	margin-right: 50px;
}

.subTitle {
	font-family: var(--font-ferry);
	font-size: 30px;
}

.subTitleNote {
	color: #949494;
	font-size: 18px;
	margin-top: 17px;
}

.docSection {
	display: flex;
	flex-direction: column;
	gap: 58px;
	margin-top: 100px;
}

.docList {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 50%));
	gap: 38px;
}

@media screen and (max-width: 1024px) {
	.docSection {
		gap: 34px;
	}

	.docList {
		grid-template-columns: 1fr;
		gap: 20px;
	}
}

.showMore {
	margin-top: 36px;
	width: 305px;
	margin: 0 auto;
}

@media screen and (max-width: 500px) {
	.showMore {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	.title {
		font-size: 28px;
	}

	.mainSection {
		flex-direction: column;
	}

	.image {
		max-width: 350px;
		height: 270px;
	}
}
