.badges {
	display: flex;
	flex-wrap: wrap;
	gap: 20px 10px;
	margin-top: 14px;
}

.badge {
	border-radius: 5px;
	background-color: var(--extra-bg-yellow);
	font-size: 12px;
	letter-spacing: 0.02em;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4px 11px;
	width: fit-content;
}

@media screen and (max-width: 500px) {
	.badges {
		margin-top: 20px;
	}
}
