.container {
	display: flex;
	align-items: center;
	gap: 4px;
}

.user {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.userName {
	font-size: 14px;
	opacity: 0.7;
}

.avatar {
	border-radius: 50%;
	width: 32px;
	height: 32px;
	position: relative;
}

.signOut {
	font-size: 10px;
	opacity: 0.4;
	cursor: pointer;
}
