.container {
	position: relative;
	display: flex;
	flex-direction: column;
}

.title {
	font-family: var(--font-ferry);
	font-size: 40px;
	letter-spacing: 0.02em;
}

.subTitle {
	font-size: 20px;
	letter-spacing: 0.02em;
}

.image {
	margin-left: 110px;
	margin-top: 20px;
	width: 321px;
	height: 342px;
	position: relative;
}

@media screen and (min-width: 501px) and (max-width: 1439px) {
	.title {
		font-size: 35px;
	}
}

@media screen and (max-width: 500px) {
	.title {
		font-size: 28px;
	}
}
